* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;

  &.clicked {

    .top-line {
        transform: translateY(6.5px) rotate(-45deg);
    }

    .middle-line {
        display: none;
    }

    .bottom-line {
        transform: rotate(45deg);
    }

    .menu-container {
        display: block;
        
        
    }
  }
}

// menu btn styles starts 
.menu-btn {
    width: 1.5em;
    height: 1.2em;
    margin-right: 2em;
    margin-top: 1em;
    background-color: transparent;
    border: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 12;
    
    div {
        width: 1.5em;
        height: 3px;
        background-color: white;
        border-radius: 0.25em;
        margin: 3px;
    }
    
}
// menu btn styles ends 

// overlay styles starts 
.menu-container {
    display: none;
}

.menu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 400px;
    max-width: 90vw;
    z-index: 11;
    background-color: #000000;
    color: white;
    padding: 1.1em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .icon {
        padding: 2em;
    }

    .menu-items {
        padding: 1em 1em;

        li {
            list-style: none;
            padding: .8em;
            font-size: 1.1em;

            div {
                width: 1.3em;
                background-color: white;
                height: 2px;
            }
        }
    }
}


// overlay styles end 

// header styles starts

header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 10;


  .logo {
    color: white;
    padding: 1em;
    padding-left: 2em;
    
  }

}


// header styles ends

// main-content styles starts

.main-content {
  
  background-image: linear-gradient(red, darken(blue, 10%));
  position: relative;
  padding-top: 3em;

  h1 {
      color: #fff;
      padding: 0.8em;
      padding-left: 0.4em;
      max-width: 700px;
      font-size: 2.7em;
      font-weight: bolder;
  }
  .signup-btn {
      background-color: white;
      color: black;
      padding: 1em 3.6em ;
      margin-left: 1.5em;
      margin-bottom: 4.5em;
      border-radius: 3.5em;
      border: 0;
  }
  .arrow-btn {
      width: 3.5em;
      height: 3.5em;
      position: absolute;
      bottom: -1.75em;
      left: 48%;
      border: 0;
      border-radius: 50%;
      box-shadow: 0 2px 3px 2px lighten($color: black, $amount: 70%);
      transition: 0.5s;
  

      &:hover {
          transform: scale(1.1);
      }

      &::before {
          content: '';
          width: 1em;
          height: 2px;
          background-color: black;
          position: absolute;
          top: 50%;
          right:45%;
          transform: rotate(45deg) ;
          border-radius: 0.25em;
      }

      &::after {
        content: '';
        width: 1em;
        height: 2px;
        background-color: black;
        position: absolute;
        top: 50%;
        left:45%;
        transform: rotate(-45deg) ;
        border-radius: 0.25em;
    }
    }

}

// .main-content styles ends 

// secondary-content styles starts 

.secondary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;

    
    .card {
        display: flex;
        flex-direction: column;
        align-items: center; 

        .circular-thing {
            width: 8em;
            height: 8em;
            background-image: linear-gradient(red, darken(blue, 10%));
            border-radius: 50%;
            margin: 3em 0 2em 0;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 3em;
                height: 3em;
            }
        }
        
        .heading {
            margin: 1.5em;
            margin-top: 0;
        }

        .paragraph {
            color: lighten($color: #000000, $amount: 50%);
        }

    }
}

// .secondary-content styles end 

// picture div styles start 

.picture-div{
    background-image: linear-gradient(red, darken(blue, 10%));
    
    &>div {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4em;
        color: white;
    }

}

// picture-div style ends 

// questions styles starts 

.questions {

    &>div {
        text-align: center;
        padding: 4em;
    }
}

.question-container {
    margin: 0 2em;
    margin-bottom: 3em;
    border: 1px lighten($color: #000000, $amount: 70%) solid;

    .showoff {
        
        border-bottom:  1px lighten($color: #000000, $amount: 70%) solid;

        .question {
            padding: 3em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            button {

                width: 3.5em;
                height: 3.5em;
                position: absolute;
                right: 2em;
                top: 30%;
                border: 0;
                color: transparent;
                background-color: transparent;

            }
        }

        .answer {
            color: lighten($color: #000000, $amount: 30%);
            display: none;

            &.show {
                display: block;
                padding: 0 3em;
                padding-bottom: 3em;
            }
        }
    }
}

// questions styles ends 

// login-ad styles start 

.login-ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6em;
    background-image: linear-gradient(red, darken(blue, 10%));

    h1 {
        color: white;
        font-size: 2.7em;
    }

    .signup-btn {
        background-color: white;
        color: black;
        padding: 1em 3.6em ;
        margin-top: 2em;
        border-radius: 3.5em;
        border: 0;
    }
}

// login-ad styles end 

// footer styles starts 
footer {
    background-color: black;

    .footer-heading {
        color: white;
        padding: 1em;
        padding-left: 2em;
        padding-top: 3em;
    }

    .footer-links {
        display: flex;
        justify-content: space-between;
        padding: 2em;

        p {
            color: gray;
            font-size: 0.8em;
            padding: .6em;
            padding-bottom: 1em;
            font-weight: bolder;
            
            
        }

        a {
            color: white;
            text-decoration: none;
            padding: .5em;
            display: block;
            transition: 250ms;

            &:hover {
                color: lighten($color: green, $amount: 50%)
            }
        }
    }

    .social-media {

        display: flex;
        padding: 2em;
        
        div {
            padding: .5em;
            background-color: lighten($color: #000000, $amount: 15%);
            border-radius: 1.5em;
            margin: .3em;
            transition: .25s;

            &:hover {

                path {

                    fill: lighten($color: green, $amount: 50%);
                }
            }

            path {
                fill: white;

            }
        }
    }
}
 .last-div {
     color: gray;
     font-size: .7em;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 2em;

     .footer-links-2 {
         display: flex;
         padding-left: 1.5em;
        
         div {
             padding: 0 1em;
             transition: .25s;

             &:hover {
                color: lighten($color: green, $amount: 50%);
             }
         }
     }

     .right-end {
         div {
             padding: .5em;
             text-align: right;

            }

        .hover {
            transition: .25s;
        }

        .hover:hover {
           color: lighten($color: green, $amount: 50%);
            }
        }
 }